<div class="row text-center animated fadeIn m-5">
  <div class="col">
    <span class="fa-stack fa-3x fa-spin">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-skull fa-stack-1x fa-inverse" style="color:black"></i>
    </span>
  </div>
</div>
