<app-loading *ngIf="loadingArtist"></app-loading>


<div *ngIf="!loadingArtist" class="row">
  <div class="col-2">
    <img [src]="artista.images | noimage" class="img-thumbnail img-circle" alt="">
  </div>
  <div class="col">
    <h3>{{artista.name}}</h3>
    <p>
      <a [href]="artista.external_urls.spotify" target="_blank">Ir a pla pagina del artista</a>
    </p>
  </div>

  <div class="col-4 text-right">
    <button routerLink="/search" class="btn btn-outline-danger" type="button" name="button">Volver</button>
  </div>
</div>
